
body{
  margin: 0;
  overflow: hidden;
}

.canvas-bg {
  background: #30E8BF; 
  background: -webkit-linear-gradient(to bottom, #FF8235, #30E8BF); 
  background: linear-gradient(to bottom, #FF8235, #30E8BF);
}

.navbar {
  background-color: transparent;
}

/*Header som är samma varje sida*/

header{
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  flex-direction: row;
  background-color: #1a365d;
}

.logoPlacement{
  display: flex;
  flex-direction: row;  
}

.logoPicture{
  width: 90px;
  border-radius: 50%;
  border:#b1bccc 4px solid;
}

.sidebutton{
  margin-left: 36%;
  margin-top: 1.5%;
}
.sidebutton :hover{
  background-color: rgba(179, 179, 181, 0.312);
}
/*Footer som är samma varje sida*/

footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  position: fixed;
  bottom: 0;
  width: 100%;

  justify-content: space-around;
  color: white;
  
  background-color: #1a365d;
  
}

.footer_info{
  margin-top: 1%;
  display: flex;
  flex-direction: row;
}



/*Form page*/

.formArea{
  display: flex;
  background: #e65c00;
  background: -webkit-linear-gradient(to bottom, #F9D423, #e65c00);
  background: linear-gradient(to bottom, #F9D423, #e65c00); 
  border-radius: 8px;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 2%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

input{
  margin-top: 4%;
  padding: 0.8rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
}

textarea{
  margin-top: 5%;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
  
}
.sendBtn{
  width: 100%;
  padding: 1rem;
  background-color: #1a365d;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 6%;
}

.sendBtn:hover{
  background-color: rgba(95, 96, 98, 0.667);
}



/*Login Page*/

.loginlogoPlacement{
  display: flex;
  justify-content: center;
}

.loginLogo{
  width: 150px;
  height:150px;
  border-radius: 50%;
  border:#b1bccc 4px solid;
  align-items: center;
}

.loginArea{
  display: flex;
  background-color: #f3f3f3;
  border-radius: 8px;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 35%;
  margin-right: 35%;
  padding: 3%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.loginBtn{
  background-color: rgb(84, 129, 254);
  width: 100px;
  height: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  color: white;
  border: none;
  border-radius: 5px;
}


/*Font styling*/

h1{
  color: white;
  margin-left: 37%;
  margin-top: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-weight: 100;
}

h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  color: #1a365d;
  text-align: center;
}

h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  color: #1a365d;
  text-align: center;
}

p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}




