@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

body{
  margin: 0;
}

.form{
  display: flex;
  background-color: #f3f3f3;
  border-radius: 8px;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 3%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
input{
  margin-top: 4%;
  padding: 0.8rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
}

textarea{
  margin-top: 5%;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
  
}

.send{
  width: 100%;
  padding: 1rem;
  background-color: #1a365d;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 6%;
}

h1{
  color: white;
  margin-left: 38.5%;
  margin-top: 2%;
  font-family: Instrument Sans, serif ;
  font-weight: 100;
}

h2{
  font-family: Instrument Sans, serif;
  font-weight: 100;
  color: #1a365d;
  text-align: center;
}

p{
  font-family: Instrument Sans, serif;
  color: white;
}


header{
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  flex-direction: row;
  background-color: #1a365d;
}

.Logo{
  display: flex;
  flex-direction: row;  
}

.logoPicture{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border:#b1bccc 4px solid;
}
.sidebutton{
  margin-left: 37%;
  margin-top: 1.5%;
}

.loginBtn{
  background-color: rgb(147, 151, 249);
  width: 100px;
  height: 50px;
  font-family: Instrument Sans, serif;
  font-size: large;
  color: white;
  border: none;
  border-radius: 2px;
}

footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: space-around;
  padding: 1%;
  color: white;
  
  background-color: #1a365d;
  margin-top: 3%;
}

.footer_info{
  margin-top: 1%;
  display: flex;
  flex-direction: row;
}

.logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border:#b1bccc 4px solid;
  
}